html{
    background-color: #d9dde3;
}

#container{
    background-color: #79AEB2;
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#backLink{
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    text-decoration: none;
}

#loginContainer{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -150px;
}

#loginContainer h2{
    margin-bottom: 2%;
}


#loginContainer input{
    width: 295px;
    height: 27px;
    border: 1px solid white;
}

#loginContainer button{
    width: 303px;
    height: 35px;
    background-color: #325c5f;
    color: white;
    border: 1px solid black;
    
}

/*bankClient/indexBankClient.php*/
#or{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}


@media (max-width:400px)  { /*mobile*/

    #container{
        width: 350px;
        left: 50%;
        margin-left: -175px;
    }

}

@media (max-width:280px)  { /*mobile (galaxy fold)*/

    #container{
        width: 270px;
        left: 50%;
        margin-left: -135px;
    }

    #loginContainer{
        width: 200px;
        left: 50%;
        margin-left: -100px;
        overflow-y: auto;
    }
    
    #loginContainer input{
        width: 200px;
    }
    
    #loginContainer button{
        width: 200px;
    }
    
}
